body,td,th {
    padding: 10px
}

body {
    width: 280px;
    margin: 0;
    font-family: "Arial",sans-serif
}

h1 {
    font-size: 20px;
    margin: 0
}

table {
    border-collapse: collapse;
    width: 500px
}

td,th {
    border: 1px solid #b5b5b5
}
