/*Задайте карте, идущей сразу за королём .king, цвет фона #ff3300*/
.king + li {
  background-color: #ff3300;
}

/*Задайте цвет фона #339933 тузам .ace, стоящим на любой позиции после червового валета .heart.jack*/
.heart.jack ~ .ace {
  background-color: #339933;
}

/*Задайте цвет фона #0099ff червовому валету .heart.jack, стоящему на любой позиции после крестового короля .club.king*/
.club.king ~ .heart.jack {
  background-color: #0099ff;
}