/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/

/*Задайте всем картам предпоследней строки цвет фона #ff3300*/
ul:nth-last-of-type(2) li {
  background-color: #ff3300;
}

/*Затем задайте предпоследней карте каждой строки цвет фона #339933*/
ul li:nth-last-of-type(2) {
  background-color: #339933;
}

/*Затем задайте карте на пересечении цвет фона #0099ff*/
ul:nth-last-of-type(2) li:nth-last-of-type(2) {
  background-color: #0099ff;
}