[alt="Рыжая птица с красным гребешком"] {
    border-radius: 50%;
    box-shadow: 0 0 30px 15px #b33035
}

[alt="Разноцветный попугай"] {
    border-radius: 50%;
    box-shadow: 0 0 30px 15px #3185b3
}

[alt="Хищная птица с жёлтым клювом"] {
    border-radius: 50%;
    box-shadow: 0 0 30px 15px #ddae07
}

[alt="Маленькая коричневая птичка на разноцветном фоне"] {
    border-radius: 50%;
    box-shadow: 0 0 30px 15px #676a7b
}
