.navigation {
    padding: 2px
}

.logo,.navigation-list {
    outline: 2px solid #9779ec;
    background-color: rgba(151,121,236,.1)
}

.navigation-item {
    margin: 1px;
    outline: 2px solid #5ca055;
    background-color: rgba(92,160,85,.3);
    outline-offset: -2px
}
