/*Задайте единственной в строке карте ширину 60px, высоту 90px*/
li:only-child {
  width: 60px;
  height: 90px;
}

/*Строке карт, единственной в блоке .group, задайте внутренний отступ 10px и пунктирную (dashed) рамку толщиной 2px цветом #55bb99*/
ul:only-child {
  padding: 10px;
  border: 2px dashed #55bb99;
}