body {
    margin: 0;
    padding: 10px;
    line-height: 0
}

.stickers-list {
    background-color: #e3e2ed;
    border: 1px solid #bebae0;
    border-radius: 4px;
    list-style: none
}

.sticker {
    background-color: #4d53bc;
    border: 6px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border-radius: 50%
}

img {
    width: 100%;
    height: auto
}
