/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/

/*Задайте первой карте каждой строки цвет фона #ff3300*/
ul li:first-child {
  background-color: #ff3300;
}

/*Затем задайте всем картам первой строки цвет фона #339933*/
ul:first-of-type li {
  background-color: #339933;
}

/*Затем задайте карте на пересечении выделенной строки и столбца цвет фона #0099ff*/
/*ИЛИ ul:first-of-type li:first-child {*/
ul:first-of-type li:first-of-type {
  background-color: #0099ff;
}