/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/

/*Задайте всем картам предпоследней строки цвет фона #ff3300*/
.cards:nth-last-child(2) li {
  background-color: #ff3300;
}

/*Затем задайте предпоследней карте в каждой строке цвет фона #339933*/
.cards li:nth-last-child(2) {
  background-color: #339933;
}

/*Затем задайте карте на пересечении выделенной строки и столбца цвет фона #0099ff*/
.cards:nth-last-child(2) li:nth-last-child(2) {
  background-color: #0099ff;
}