/*
Чтобы строки подсвечивались целиком,
следите за приоритетами селекторов или
можете удалять селекторы после подсветки каждой строки.
*/

/*Задайте последней карте каждой строки цвет фона #ff3300*/
ul li:last-child {
  background-color: #ff3300;
}

/*Затем задайте всем картам в последней строке цвет фона #339933*/
ul:last-of-type li {
  background-color: #339933;
}

/*Затем задайте карте на пересечении выделенной строки и столбца цвет фона #0099f*/
ul:last-of-type li:last-of-type {
  background-color: #0099ff;
}