/*Для единственной строки карт в блоке.group задайте внутренний отступ 10px и пунктирную (dashed) рамку толщиной 2px цветом #55bb99*/
ul:only-of-type {
  padding: 10px;
  border: 2px dashed #55bb99;
}

/*Задайте цвет текста #339966 для абзаца, который является единственным в блоке .paper*/
.paper p:only-of-type {
  color: #339966;
}